.nav {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.nav a {
    margin: 0px 20px;
    text-decoration: none;
    padding: 5px 10px;
    border-bottom: 2px solid rgb(119, 70, 61);
    font-weight: 500;
}