.nav {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.nav a {
    margin: 0px 20px;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 500;
}

.link {
    color: grey;
    border-bottom: 2px solid grey;
}

.active-link {
    color: rgb(61, 58, 255);
    border-bottom: 2px solid rgb(51, 64, 247);
}