.product {
    display: flex;
    margin: 0px 50px;
}

.product img {
    margin-top: 50px;
}

.product h1 {
    font-size: 50px;
}

h1:nth-child(1) {
    color: rgb(31, 31, 58);
}

h1:nth-child(2) {
    color: rgb(69, 69, 197);
}

.reviewhead {
    color: rgb(0, 0, 54) !important;
    text-align: center;
}

.title {
    margin-top: 100px;
}

.product p {
    margin-right: 200px;
    font-size: 20px;
    color: dimgrey;
    margin-bottom: 50px;
    width: 50%;
}

.btn {
    font-weight: 500;
    color: rgb(69, 69, 197);
    text-decoration: none;
    padding: 20px 30px;
    background-color: rgb(225, 225, 255);
    border-radius: 7px;
}

.grid {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.sa {
    width: 250px;
    display: block;
    margin: 50px auto;
    border: 0;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(80, 80, 255);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


/* 
.btn-sa {
    margin: 10px auto;
} */